{% extends "base.html" %}
{% load static %}


{% block title %}
    Checkout | E-com Website
{% endblock %}


{% block content %}
<div class="container">
    <div class="row mt-2">
        <ol id="cart_list" class="list-group list-group-numbered">
            
        </ol>
    </div>
</div>
    
{% endblock %}


{% block js-files %}
    <script src="{% static 'shop/main.js' %}" defer></script> 
    <script src ="{% static 'shop/checkout.js' %}" defer></script>
{% endblock%}
    